@font-face {
  font-family: 'FiraCode Retina';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/FiraCode-Retina.ttf);
}

@font-face {
  font-family: 'Go';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/Go-Regular.ttf);
}
@font-face {
  font-family: 'Inter';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter Medium';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/Inter-Medium.otf);
}

@font-face {
  font-family: 'PTSerif';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/PTSerif-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto Medium Italic';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(https://middle-ages.github.io/use-font-metrics/src/demos/style/fonts/Roboto-Regular.ttf);
}
